@model IEnumerable<eStar.Models.Student>

@{
    ViewBag.Title = "All_Students";
}
<a href="@Url.Action("Index","Reports")"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back To Reports</a>

<h2>Allocated Points</h2>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#all">All Students</a></li>
    <li><a data-toggle="tab" href="#top10">Top 10 Student Points</a></li>
</ul>

<div class="tab-content">
    <div id="all" class="tab-pane fade in active">
        <h3>All Students</h3>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total_Points)
                </th>
            </tr>
            @foreach (var student in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(studentModel => student.User_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(studentModel => student.First_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(studentModel => student.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(studentModel => student.Total_Points)
                    </td>
                </tr>
            }
        </table>
    </div>

    <div id="top10" class="tab-pane fade">
        <h3>Top 10 Student Points</h3>
        <div class="row">
            <div class="col-md-6">
                <img src="@Url.Action("GetChartImage")" />
            </div>
            <div class="col-md-6">
                <table class="table">
                    <tr>
                        <th>
                            Position
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Points
                        </th>
                    </tr>
                    @{
                        var count = 1;
                    }
                    @foreach (var top10 in Model.Take(10))
                    {
                        <tr>
                            <td>
                                @count
                            </td>
                            <td>
                                @Html.DisplayFor(topModel => top10.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(topModel => top10.Total_Points)
                            </td>
                        </tr>
                        count = count + 1;
                    }
                </table>

            </div>
        </div>
    </div>

</div>