
@{
    ViewBag.Title = "AdminIndex";
}

<h2>Admin Homepage</h2>

Welcome!  @Session["Username"]
    Add new student @Html.ActionLink("here!", "Create", "Students")
    </br>
    View all students @Html.ActionLink("here!", "Index", "Students")
    </br>
    </br>
    Add new staff member @Html.ActionLink("here!", "Create", "Staffs")
    </br>
    View all staff @Html.ActionLink("here!", "Index", "Staffs")

    </br>
    </br>
    Register @Html.ActionLink("here!", "Register", "Account")

