@model IEnumerable<eStar.Models.Class>

@{
    ViewBag.Title = "ClassAwards";
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-8">
            <h3>Select a class to award or view list of students</h3>
        </div>
        <div class="col-md-4">
            @Html.ActionLink("View All Students", "Index", "Awards", null, new { @class = "btn btn-primary" })
        </div>
    </div>

<div class="row">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading" id="searchbar">
                <a data-toggle="collapse" href="#studentFilter">
                    <div class="panel-title"><b>Search Classes</b> <span style="float: right" class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span></div>
                </a>
                <div id="studentFilter" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="searchContainer">
                            <div id="class">All &nbsp; </div>
                            @Html.TextBox("SearchString", null, new { @class = "clearable", @placeholder = "Search class name" })
                            @Html.Hidden("classID")
                            <input class="btn btn-primary" type="submit" value="Search" id="searchSubmit" />
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <label for="classRadio">Filter by your classes</label>
                        </div>
                        <div class="row">
                            View My Classes<input name="classRadio" id="classCheck" type="radio" value="userClasses" @ViewBag.CheckedMy />
                            &nbsp;
                            View All Classes<input name="classRadio" id="classCheck" type="radio" value="allClasses" @ViewBag.CheckedAll />
                        </div>
                        <div class="row" style="float: right">
                            @Html.ActionLink("Reset", "ClassAwards", "Awards", new { classRadio = "allClasses", sortOrder = "", searchString = "" }, null)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Class Name", "ClassAwards", new { sorOrder = ViewBag.ClassNameSortParm })
                &#9662;
            </th>
            <th>
                Class Staff
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Class_Name)
                </td>

                <td>

                    @for (var i = 0; i < item.ClassStaff.Count; i++)
                    {
                        @Html.DisplayFor(modelItem => item.ClassStaff[i].Staff.FullName)

                        if (i < item.ClassStaff.Count - 1)
                        {
                            <span> | </span>
                        }
                    }
                </td>
                <td>
                    @Html.ActionLink("Award", "Create", "Awards", new { classID = Convert.ToInt32(item.Class_ID) }, null) |
                    @Html.ActionLink("View Students", "Index", "Awards", new { classID = Convert.ToInt32(item.Class_ID)}, null)
                </td>
            </tr>
        }

    </table>
}

