@model eStar.Models.Award
@using eStar.Security

@{
    ViewBag.Title = "Create";
}
@{ if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong> @ViewBag.Error
        </div>
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.AwardDate)
    <div class="form-horizontal">
        <h4>Award Selected Students</h4>
        <hr />
        @Html.HiddenFor(model => model.StudentCount)

        @for (int i = 0; i < Model.Students.Count; i++)
        {
            @Html.HiddenFor(model => model.Students[i])
        }

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Students, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="studentList">
                            <a data-toggle="collapse" href="#studentFilter">
                                <div class="panel-title">
                                    @Html.DisplayFor(model => model.StudentCount) students
                                    <span style="float: right" class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
                                </div>
                            </a>
                            <div id="studentFilter" class="panel-collapse collapse">
                                <div class="panel-body">
                                    @foreach (var studentName in Model.StudentNames)
                                    {
                                        <div class="studentName">
                                            @Html.Display(studentName, new { htmlAttributes = new { @class = "studentList" } })
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Num_Points, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Num_Points, new { htmlAttributes = new { @class = "form-control", @type="number", min = "1", max = (SessionPersister.RemainingPoints/Model.StudentCount) } })
                @Html.ValidationMessageFor(model => model.Num_Points, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Subject_ID")
                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RewardCategory_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RewardCategory_ID")
                @Html.ValidationMessageFor(model => model.RewardCategory_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Reward_Comment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Reward_Comment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Reward_Comment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
