@model eStar.ViewModels.StudentGuardianViewModel

<h2>Student Awards</h2>

@{
    var count = 0;
    var divClass = "";
    var link = "#";
}

<ul class="nav nav-tabs">

    @foreach (var student in Model.Students)
    {
        link = "#" + student.User_ID;
        if (count == 0)
        {
            divClass = "active";
        }
        else
        {
            divClass = "";
        }

        <li class="@divClass">
            <a href="@link" data-toggle="tab">
                @student.FullName
            </a>
        </li>
        count = count + 1;
    }
</ul>



<div class="tab-content">
    @{
        count = 0;
    }
    @foreach (var student in Model.Students)
    {
        var divclass = "tab-pane fade";
        if (count == 0)
        {
            divclass = "tab-pane fade in active";
        }

        <div id="@student.User_ID" class="@divclass">
            <h3>@student.FullName</h3>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(modelStudent => student.Year_Group)
                    </th>
                    <td>
                        @Html.DisplayFor(modelStudent => student.Year_Group)
                    </td>
                    <th>
                        @Html.DisplayNameFor(modelStudent => student.Tutor_Group)
                    </th>
                    <td>
                        @Html.DisplayFor(modelStudent => student.Tutor_Group)
                    </td>
                    <th>
                        @Html.DisplayNameFor(modelStudent => student.Total_Points)
                    </th>
                    <td>
                        @Html.DisplayFor(modelStudent => student.Total_Points)
                    </td>
                </tr>
            </table>
            <hr />

            <h4>@student.First_Name's Awards</h4>
            <table class="table">
                <tr>
                    <th>
                        Award Date
                    </th>
                    <th>
                        No. Points
                    </th>
                    <th>
                        Staff Name
                    </th>
                    <th>
                        Subject
                    </th>
                    <th>
                        Reward Category
                    </th>
                    <th>
                        Comment
                    </th>
                </tr>

                @{
                    var start = 0;
                    for (var i = 0; i < count; i++)
                    {
                        start = start + Model.AwardID[i];
                    }

                    var finish = Model.AwardID[count] + start - 1;

                    for (var i = finish; i >= start; i--)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.Awards[i].AwardDate)
                            </td>
                            <td>
                                @Model.Awards[i].Num_Points
                            </td>
                            <td>
                                @Model.Awards[i].Staff.FullName
                            </td>
                            <td>
                                @Model.Awards[i].Subject.Subject_Name
                            </td>
                            <td>
                                @Model.Awards[i].RewardCategory.Reward_Category
                            </td>
                            <td>
                                @Model.Awards[i].Reward_Comment
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
        count = count + 1;
    }
</div>