@model eStar.Models.Order
@{
    ViewBag.Title = "Basket";
}

<h2><i class="fa fa-shopping-cart" aria-hidden="true"></i> Your Basket</h2>

@{
    if (ViewBag.Empty != null)
    {
        <h3>@Html.Raw(ViewBag.Empty)</h3>
    }
    else
    {
        <div class="row">
            <div class="col-md-4" id="basketOrderDets">
                @Html.DisplayNameFor(model => model.Order_ID):
                <b>@Html.DisplayFor(model => model.Order_ID)</b>
            </div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.ProductCount):
                <b>@Html.DisplayFor(model => model.ProductCount)</b>
            </div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.TotalCost):
                <b>@Html.DisplayFor(model => model.TotalCost)</b>
            </div>
        </div>
        <div class="row">
            @for (var i = 0; i < Model.ProductCount -1; i++)
            {
                <div class="row" id="basketItemDets">
                    <div class="col-md-4">
                        <img src="..@Model.Products[i].Products.Image" />
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            @Html.DisplayFor(model => model.Products[i].ProductName)
                        </div>
                        <div class="row">
                            @Html.DisplayFor(model => model.Products[i].ProductDesc)
                        </div>
                        <div class="row">
                            @Html.DisplayFor(model => model.Products[i].ProductPrice) Points
                        </div>
                    </div>
                    <div class="col-md-4">
                        x Remove
                    </div>
                </div>
                <hr />
            }
        </div>
        <div class="row">
            @Html.DisplayNameFor(model => model.TotalCost):
            @Html.DisplayFor(model => model.TotalCost)
        </div>
      }
}