@model IEnumerable<eStar.Models.Product>

<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

@{
    ViewBag.Title = "eStore";
    if(ViewBag.Error != null)
    {
        <div class="alert alert-danger">
            <strong>Error!</strong> @ViewBag.Error
        </div>
    }
}

<h2>Welcome to the eStore</h2>

@using (Html.BeginForm("StoreView", "Products", FormMethod.Get))
{
    <div class="row" id="productSearch">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading" id="searchbar">
                    <a data-toggle="collapse" href="#studentFilter">
                        <div class="panel-title"><b>Search Products</b> <span style="float: right" class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span></div>
                    </a>
                    <div id="studentFilter" class="panel-collapse collapse in">
                        <div class="panel-body">
                            @Html.TextBox("SearchString", null, new { @class = "clearable", @placeholder = "Search products" })
                            <input class="btn btn-primary" type="submit" value="Search" id="searchSubmit" />
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="yearGroup">Filter by Cost</label>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="tutorGroup">Filter by Product Category</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <label for="min">Min</label>
                                        @Html.TextBox("min", null, new { @class="priceVal", id="min", @type="number", Value = ViewBag.min, min="0", max = "1000"})
                                        &nbsp;
                                        <label for="max">Max</label>
                                        @Html.TextBox("max", null, new { @class = "priceVal", id="max", @type = "number", Value=ViewBag.max, min="0", max="1000"})
                                        <button class="btn btn-primary" type="submit" id="priceSubmit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </p>
                                    &nbsp;
                                    @Html.ActionLink("Order by Cost","StoreView", "Products", new { sortOrder = ViewBag.PriceParm, searchString = ViewBag.Search, min = ViewBag.min, max= ViewBag.max, ProductCategory_ID = ViewBag.ProductCategory_ID }, new { @class = "btn btn-primary"})
                                </div>
                                <div class="col-md-6">
                                    @Html.DropDownList("ProductCategory_ID", "All")
                                </div>
                            </div>
                            <div class="row" style="float: right">
                                @Html.ActionLink("Reset", "StoreView", "Products", new { sortOrder = "", searchString = "", min = "0", max = "1000", ProductCategory_ID = "" }, null)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3" id="productInfo">
            <div class="row">
                <div class="product">
                    <div class="row">
                        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                    </div>
                    <div class="row">
                        <i>@Html.DisplayFor(modelItem => item.ProductCategories.CategoryName)</i>
                    </div>
                    <div class="row" id="productImage">
                        <img class="object-fit_cover" src="..@item.Image" />
                    </div>
                    <div class="row" id="desc">
                        @Html.DisplayFor(modelItem => item.Description)
                    </div>
                    <div class="row">
                        @{
                            if (item.Price == 0)
                            {
                                @Html.EditorFor(modelItem => item.Price, new { htmlAttributes = new { id = "donationPrice", placeholder = "Enter points to donate"} })
                            }
                            else
                            {
                                <h4>@Html.DisplayFor(modelItem => item.Price) Points</h4>
                            }
                        }
                    </div>
                    <div class="row" id="button">
                        <a href="@Url.Action("Create", "Awards")" class="btn btn-primary">Buy Now <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
                            }
</div>
