@model eStar.Models.StudentAward

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudentAward</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Award.Reward_Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Award.Reward_Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentAward_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
