@using eStar.Security;

@{
    ViewBag.Title = "UserProfile";
}

<h1 style="text-align: center">Your Profile</h1>

<div class="row">
    <div class="col-md-4" id="profileCircle">
        <img src="~/Content/Images/Purple.png" />
        <div class="profileText">
            <span style="font-size: 100px"><i class="fa fa-trophy" aria-hidden="true"></i></span>
            <h2>Total Points</h2>
            <h1 style="font-size: 80px">@SessionPersister.TotalPoints</h1>
        </div>
    </div>
    <div class="col-md-4" id="profileCircle">
        <img src="~/Content/Images/Blue.png" />
        <div class="profileText">
            <span style="font-size: 100px"><i class="fa fa-star" aria-hidden="true"></i></span>
            <h2>Your Balance</h2>
            <h1 style="font-size: 80px">@SessionPersister.Balance</h1>
        </div>
    </div>
    <div class="col-md-4" id="profileCircle">
        <img src="~/Content/Images/Orange.png" />
        <div class="profileText">
            <span style="font-size: 100px"><i class="fa fa-certificate" aria-hidden="true"></i></span>
            <h2>Your Position In School</h2>
            <h1 style="font-size: 80px">@ViewBag.Position</h1>

        </div>
    </div>
</div>
<div class="row">
    @{
        var awardCount = 0;
        foreach (var award in ViewBag.Awards)
        {
            var subjectCount = 0;
            foreach (var subject in ViewBag.Subjects)
            {
                if (award.Subject_ID == subject.Subject_ID)
                {
                    var count = ViewBag.Number[subjectCount];
                    count = count + award.Num_Points;
                    ViewBag.Number[subjectCount] = count;
                }
                subjectCount = subjectCount + 1;
            }
            var rewardCount = 0;
            foreach (var category in ViewBag.Categories)
            {
                if (award.RewardCategory_ID == category.RewardCategory_ID)
                {
                    var rcount = ViewBag.CatNumber[rewardCount];
                    rcount = rcount + award.Num_Points;
                    ViewBag.CatNumber[rewardCount] = rcount;
                }
                rewardCount = rewardCount + 1;
            }
            awardCount = awardCount + 1;
        }

        string values = "";
        foreach (var value in ViewBag.Number)
        {
            values = values + value + ",";
        }
        string catValues = "";
        foreach (var catValue in ViewBag.CatNumber)
        {
            catValues = catValues + catValue + ",";
        }
    }


    <h3>Your Subject Rewards</h3>
    <img src="@Url.Action("pieChart", "Students", new { names = ViewBag.SubjectNames, values = values})" />
    <h3>Your Reward Categories</h3>
    <img src="@Url.Action("pieChart", "Students", new { names = ViewBag.CatNames, values = catValues})" />
</div>