@model eStar.Models.Pledge
@using eStar.Security;

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    @if (Model.PledgeStatusID == 1)
    {
        <div class="alert alert-info">
            <strong>Active</strong> This target is still active <b>@ViewBag.Days left!</b>
        </div>
    }
    else if (Model.PledgeStatusID == 2)
    {
        <div class="alert alert-danger">
            <strong>Unmet</strong> This target wasn't met by the set deadline.
        </div>
    }
    else
    {
        <div class="alert alert-success">
            <strong>Complete</strong> This target was completed by the deadline.
        </div>
    }
    <div class="row">
        <div class="col-md-6" id="targetStudentDetails">
            <h3>@Model.Students.FullName</h3>
            <h4><b>Total Points: </b>@Model.Students.Total_Points</h4>
        </div>
        <div class="col-md-6" id="targetDetails">
            <h3>@Model.Title</h3>
            <h4>@Model.Description</h4>
            <h5><b>Deadline: </b>@Html.DisplayFor(model => model.Deadline)</h5>
            @Model.PledgeStatus.Status
        </div>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
