@model eStar.Models.StudentGuardian

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudentGuardian</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student_User_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_User_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Guardian_User_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guardian_User_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentGuardianID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
