@model eStar.ViewModels.EnrolmentViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Class: @Html.DisplayFor(model => model.Class.Class_Name)</h4>
    <hr />
    <h4>Staff:</h4>
    <table class="table">
        <tr>
            <th>
                Staff ID
            </th>
            <th>
                Prefix
            </th>
            <th>
                First Name
            </th>
            <th>
                Surname
            </th>
            <th>
                Job Role
            </th>
        </tr>
        @foreach (var staff in Model.Staff)
        {
            <tr>
                <td>
                    @staff.User_ID
                </td>
                <td>
                    @staff.Prefix
                </td>
                <td>
                    @staff.First_Name
                </td>
                <td>
                    @staff.Surname
                </td>
                <td>
                    @staff.Job_Role
                </td>
            </tr>
        }
    </table>
    <hr />
    <h4>Students:</h4>
    <table class="table">
        <tr>
            <th>
                Student ID
            </th>
            <th>
                Prefix
            </th>
            <th>
                First Name
            </th>
            <th>
                Surname
            </th>
            <th>
                Year Group
            </th>
            <th>
                Tutor Group
            </th>
        </tr>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>
                    @student.User_ID
                </td>
                <td>
                    @student.Prefix
                </td>
                <td>
                    @student.First_Name
                </td>
                <td>
                    @student.Surname
                </td>
                <td>
                    @student.Year_Group
                </td>
                <td>
                    @student.Tutor_Group
                </td>
            </tr>
        }
    </table>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
