@model eStar.ViewModels.EnrolmentViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Class: @Html.DisplayFor(model => model.Class.Class_Name)</h4>
    <hr />
    <h4>Staff:</h4>
    <table class="table">
        <tr>
            <th>
                Staff ID
            </th>
            <th>
                Prefix
            </th>
            <th>
                First Name
            </th>
            <th>
                Surname
            </th>
            <th>
                Job Role
            </th>
        </tr>
        @foreach(var staff in Model.Staff)
        {
            <tr>
                <td>
                    @staff.User_ID
                </td>
                <td>
                    @staff.Prefix
                </td>
                <td>
                    @staff.First_Name
                </td>
                <td>
                    @staff.Surname
                </td>
                <td>
                    @staff.Job_Role
                </td>
            </tr>
        }
    </table>
    <hr />
    <h4>Students:</h4>
    <table class="table">
        <tr>
            <th>
                Student ID
            </th>
            <th>
                Prefix
            </th>
            <th>
                First Name
            </th>
            <th>
                Surname
            </th>
            <th>
                Year Group
            </th>
            <th>
                Tutor Group
            </th>
        </tr>
        @foreach(var student in Model.Students)
        {
            <tr>
                <td>
                    @student.User_ID
                </td>
                <td>
                    @student.Prefix
                </td>
                <td>
                    @student.First_Name
                </td>
                <td>
                    @student.Surname
                </td>
                <td>
                    @student.Year_Group
                </td>
                <td>
                    @student.Tutor_Group
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Class.Class_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
