@model eStar.ViewModels.EnrolmentViewModel

@{
    ViewBag.Title = "getStaff";
}

<h2>Add Staff To Class</h2>

@using (Html.BeginForm())
{
    <input class="btn btn-primary" type="submit" value="Add Staff" id="awardStudents" />
    <table class="table">
        <tr>
            <th>
                Select Staff To Add
            </th>
            <th>
                Prefix
            </th>
            <th>
                @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.FirstNameSortParm })
                &#9662;
            </th>
            <th>
                @Html.ActionLink("Surname", "Index", new { sortOrder = ViewBag.SurnameSortParm })
                &#9662;
            </th>
            <th>
                @Html.ActionLink("Year Group", "Index", new { sortOrder = ViewBag.YearGroupSortParm })
                &#9662;
            </th>
            <th>
                @Html.ActionLink("Tutor Group", "Index", new { sortOrder = ViewBag.TutorGroupSortParm })
                &#9662;
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Staff)
        {
            <tr>
                <td>
                    <input type="checkbox" id="selectedStudent" name="staff" value="@item.User_ID" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prefix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.First_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
            </tr>
        }

    </table>
}