@model eStar.Models.Guardian

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Guardian</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prefix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prefix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Type)
        </dd>

    </dl>
</div>
<hr />
<h5>Guardian Students</h5>
<table class="table">
    <tr>
        <th>
            Student ID
        </th>
        <th>
            Prefix
        </th>
        <th>
            First Name
        </th>
        <th>
            Surname
        </th>
        <th>
            Year Group
        </th>
        <th>
            Tutor Group
        </th>
    </tr>
    @foreach(var item in Model.StudentGuardians)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student_User_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Students.Prefix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Students.First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Students.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Students.Year_Group)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Students.Tutor_Group)
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.User_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
