@model eStar.Models.Guardian

@{
    ViewBag.Title = "Edit";
}

<h2>Update Guardian Details</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Guardian</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.User_ID)
        @Html.HiddenFor(model => model.Password)
        @Html.HiddenFor(model => model.User_Type)

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prefix, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Prefix, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Prefix, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.First_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.First_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.First_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>

        <!--modal for password reset-->
        <div class="form-group">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#resetModal">Reset password</button>
                </div>
            </div>

            <div class="modal fade" id="resetModal" role="alert">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">
                                Are you sure you want to reset the password?
                            </h4>
                        </div>
                        <div class="modal-body">
                            <p style="text-align: center">The user will be alerted that their password has been reset and they will have to use the 'first time logging in' section.</p>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" name="reset" value="Yes, reset" class="btn btn-warning" />
                            <input type="button" value="No, close" data-dismiss="modal" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- remove student modal-->
            <div class="modal fade" id="removeStudentModal" role="alert">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">
                                Remove Student Link?
                            </h4>
                        </div>
                        <div class="modal-body">
                            <p style="text-align: center">Are you sure you want to remove this student link? The guardian link to this user will also be removed from the student.</p>
                        </div>
                        <div class="modal-footer">
                            @Html.ActionLink("Yes, remove", "removeStudentGuardian", "Guardians", new { guardianID = Model.User_ID}, new { @class = "btn btn-danger removestudent" })
                            <input type="button" value="No, close" data-dismiss="modal" class="btn btn-default keepstudent" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<hr />
<div class="row">
    <div class="col-md-6">
        <h3  style="margin-top: 0px;">Guardian Students</h3>
    </div>
    <div class="col-md-6">
        <span style="float: right;">@Html.ActionLink("Add Student", "CreateGuardianStudent", "StudentGuardians", new { guardianId = Model.User_ID }, new { @class = "btn btn-default" })</span>
    </div>
</div>
<div>
    <table class="table">
        <tr>
            <th>
                Student ID
            </th>
            <th>
                Prefix
            </th>
            <th>
                First Name
            </th>
            <th>
                Surname
            </th>
            <th>
                Year Group
            </th>
            <th>
                Tutor Group
            </th>
            <th></th>
        </tr>
        @foreach(var item in Model.StudentGuardians)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Student_User_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Students.Prefix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Students.First_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Students.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Students.Year_Group)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Students.Tutor_Group)
                </td>
                <td>
                    <button type="button" class="btn btn-danger studentModal" id="@item.Student_User_ID" data-toggle="modal" data-target="#removeStudentModal">Remove Student</button>
                </td>
            </tr>
        }
    </table>
</div>
@Html.ActionLink("Back to List", "Index")
