@model IEnumerable<eStar.Models.Guardian>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prefix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentCount)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="guardian guardian-heading">
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prefix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentCount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.User_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.User_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.User_ID })
            </td>
            @if (@item.StudentCount < 1)
            {
                <td id="nostudent"><i>No Students Listed</i></td>
            }
            else
            {
                <td><a id="@item.User_ID" onclick="guardianstudentlist(@item.User_ID)">View Students <i class="fa fa-angle-double-down" aria-hidden="true"></i></a></td>
            }
            
        </tr>
        var hiddenstudentTitles = "studentTitle" + @item.User_ID.ToString();
        var hiddenstudent = "student" + @item.User_ID.ToString();
        <tr class="studentDetailsTitle @hiddenstudent">
            <th>
                Student ID
            </th>
            <th>
                Prefix
            </th>
            <th>
                First Name
            </th>
            <th>
                Surname
            </th>
            <th>
                Year Group
            </th>
            <th>
                Tutor Group
            </th>
        </tr>

        foreach(var student in item.StudentGuardians)
        {
            <tr class="studentDetails @hiddenstudent">
                <td>
                    @student.Student_User_ID
                </td>
                <td>
                    @student.Students.Prefix
                </td>
                <td>
                    @student.Students.First_Name
                </td>
                <td>
                    @student.Students.Surname
                </td>
                <td>
                    @student.Students.Year_Group
                </td>
                <td>
                    @student.Students.Tutor_Group
                </td>
            </tr>
        }
    }
</table>