@model IEnumerable<eStar.Models.Student>
@using eStar.Security

@{
    ViewBag.Title = "GuardianIndex";
}

<h2>Welcome to eStar</h2>

<div class="row" id="homeIcons">
    <div class="row">
        <div class="col-md-2" id="awardIcon">
            <a href='@string.Format("../Awards/GuardianAwardView/{0}", SessionPersister.UserID)'>
                <img src="../Content/Images/Awards.png" />
            </a>
        </div>
        <div class="col-md-2" id="prevAwards"></div>
        <div class="col-md-2" id="targets">
            <a href='@string.Format("../Pledges/Index")'>
                <img src="~/Content/Images/Target.png" />
            </a>
        </div>
        <div class="col-md-2" id="prevAwards"></div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <h3>View Student Awards</h3>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <h3>Student Targets</h3>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<hr />

<div class="row">
    <h3>Your Students</h3>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year_Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutor_Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total_Points)
            </th>
        </tr>
        @foreach(var student in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(studentModel => student.FullName)
                </td>
                <td>
                    @Html.DisplayFor(studentModel => student.Year_Group)
                </td>
                <td>
                    @Html.DisplayFor(studentModel => student.Tutor_Group)
                </td>
                <td>
                    @Html.DisplayFor(studentModel => student.Total_Points)
                </td>
            </tr>
        }
    </table>
</div>
